:root {
    --bg-top: #E4FBFF;
    --bg-button: #99D100;
    --color-button: #fff;
    --color-text-form: #fff;
    --color-placeholder: #000;
    --color-lable: #000;
    --bg-form: #FF6D00;
    --padding-wrapper: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--color-button);
}

ul,
ol {
    list-style-type: none;
}

.button {
    background-color: var(--bg-button);
    color: var(--color-button);
}

@font-face {
    font-family: "Stratos";
    font-weight: 400;
    font-style: normal;
    src: local("Stratos"),
        url("/SkyproProjects/font/stratosskyengweb-regular.woff2") format("woff2"),
        url("/SkyproProjects/font/stratosskyengweb-regular.woff") format("woff");
}

@font-face {
    font-family: "Stratos";
    font-weight: 700;
    font-style: normal;
    src: local("Stratos"),
        url("/SkyproProjects/font/stratosskyengweb-bold.woff2") format("woff2"),
        url("/SkyproProjects/font/stratosskyengweb-bold.woff") format("woff");
}

body {
    font-family: "Stratos", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: -0.015px;
}



.content {
    padding-left: var(--padding-wrapper);
    padding-right: var(--padding-wrapper);

    &--top {
        background-color: var(--bg-top);
        padding-top: 15px;
        padding-bottom: 13px;
    }

    &__main {
        padding-left: var(--padding-wrapper);
        padding-right: var(--padding-wrapper);
    }
}

.header {
    margin-bottom: 3px;

    &__lable {
        display: inline-block;
        vertical-align: middle;
        color: var(--color-lable);
        background-color: #fff;
        border-radius: 28px;
        padding: 4px 8px 6px 8px;
        margin-left: 7px;
        font-size: 14px;
        letter-spacing: -0.035px;
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;
    }
}

.section {
    &--top {
        background-color: var(--bg-color);
        overflow: hidden;
        padding-top: 20px;
    }

    &__title {
        font-size: 38px;
        max-width: 283px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 13px;
    }

    &__text {
        max-width: 283px;
    }

    &__link {
        display: block;
        padding: 14px 32px 14px 32px;
        border-radius: 12px;
        text-align: center;
        max-width: 300px;
    }
}

.text {
    &__item {
        display: inline-block;
        margin-right: 2px;

        &--accent {
            position: relative;
            z-index: 1;
            transform: rotate(-3deg);
            padding-left: 6px;
            padding-right: 6px;
            &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background: url(../img/text-accent.svg);
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                display: inline-block;
                z-index: -1;
                left: 0px;
                
            }
        }
    }
}

.main {
    &__list {
        padding-left: 0px;
    }
}

.form {
    &--main {
        background-color: var(--bg-form);
        border-radius: 12px;
        color: var(--color-text-form);
        margin: 0px;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 16px;
        padding-bottom: 26px;
        max-width: 300px;
    }

    &__heading {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 18px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__input {
        padding: 9px 19px 9px 19px;
        border-radius: 6px;
        outline: none;
        border: none;
        font-family: "Stratos", "Arial", sans-serif;

        &::placeholder {
            color: var(--color-placeholder);
            font-size: 16px;
        }
    }

    &__button {
        width: 256px;
        height: 44px;
        border-radius: 12px;
        outline: none;
        border: none;
    }

    &__text {
        font-size: 9px;
    }

    &__link {
        padding-bottom: 2px;
        border-bottom: 1px solid var(--color-button);
    }

    &--bottom {
        display: flex;
        flex-direction: column;
    }
}

.proflist {
    &__box {
        display: flex;
        flex-direction: column;
        max-width: 194px;
        align-items: center;
    }

    &__defin {
        margin: 0px;
    }
}

.footer {
    padding-left: var(--padding-wrapper);
    padding-right: var(--padding-wrapper);
}